:root {
    --strongCyan: hsl(172, 67%, 45%);
    --strongCyand: hsl(172, 78%, 57%);
    --strongCyani: hsla(172, 63%, 35%, 0.397);
    --verydarkcyan: hsl(183, 100%, 15%);
    --darkgrayishcyan: hsl(186, 14%, 43%);
    --darkgrayishcyani: hsl(184, 14%, 56%);
    --lightgrayishcyan: hsl(185, 41%, 84%);
    --lightgrayishcyani: hsla(180, 46%, 92%, 0.623);
    --white: hsl(0, 0%, 100%);
}
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  * {
      margin: 0;
      padding: 0;
  }

body {
    font-size: 24px;
    background-color: var(--lightgrayishcyan);
    display: flex;
    font-family: 'Space Mono', monospace;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.title {
    letter-spacing: 3px;
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 2em;
    margin-top: 2em;
    color: var(--verydarkcyan);
}
.tips-container {
    display: flex;
    padding: 1em;
    background-color: var(--white);
    border-radius: 0.8em;
}
.tips-container div> input,
.custom,
.reset {
    cursor: pointer;
}
.selection {
    padding: 1em;
}
.selection input {
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 1em 0.3rem;
    text-align: right;
  }
  .selection input:nth-of-type(2) {
    background-image: url(images/icon-person.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 1em 0.3rem; 
}
  .selection input:nth-of-type(1) {
    background-image: url(images/icon-dollar.svg);
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: 1em 0.3rem;  
}
.selection input:nth-of-type(2):focus,
.selection input:nth-of-type(1):focus {
background-image: none;
}


input[type="number"]:focus {
    border: 1px solid var(--strongCyan);
    outline: none;
}
.results{
    display: flex;
    flex-direction: column;
    background-color: var(--verydarkcyan);
    padding: 2em 2em 0em 2em;
    border-radius: 0.5em;
}
.results div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2em;
    row-gap: 1.3em;
}
label {
    color: var(--darkgrayishcyan);
    font-size: 0.6em;
    font-weight: 600;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em 0.3em;
   margin-top: 0.3em;
   justify-content: center;
   
}
 .selection div button {
    color: white;
    font-size: 0.6em;
    background-color: var(--verydarkcyan);
    padding: 0.3em;
  display: inline-block;
    margin-right: 0;
    font-weight: 500;
    border-radius: 4px;
    border: none;
    max-width: 5.4em;
    text-align: center;
}

.error-text{
    color: rgba(255, 0, 0, 0.774);
    position: relative;
    left: 4em;
    display: none;
}

.two, .five {
    position: relative;
    right: 1.2em;
}
.three{
    position: relative;
    right: 2.4em;
}

.selection div button:hover {
    background-color: var(--strongCyan);
    cursor: pointer;
}
.output, .number-p {
    width: 18em;
    color: var(--verydarkcyan);
    font-weight: 700;
    font-size: 0.8em;
    padding: 0.3em 0; 
    background-color: var(--lightgrayishcyani);
    border: none;
}

.output, .number-p:focus {
border-color: var(--strongCyan);
}
.number-p.error:focus {
    border-color: rgba(255, 0, 0, 0.774);
}

.custom {
    width: 5.4em;
    padding: 0.5em 0.1em;
    color: var(--verydarkcyan);
    background-color: var(--lightgrayishcyani);
    border: none;
    background-image: none !important;
    position: relative;
    font-weight: 700;
    font-size: 0.9em;
    right: 2.4em;
}
.custom:placeholder-shown {
    font-weight: 700;
    font-size: 0.6em;
    padding: 0.5em 0.1em;
}
.custom::placeholder{
    color: var(--darkgrayishcyan);
    
}
.reset {
    margin: 5em 1em 2em 0em;
    width: 100%;
    text-align: center;
    color: var(--verydarkcyan);
    background-color: var(--strongCyani);
    text-transform: uppercase;
    padding: 0.6em 0em;
    font-size: 0.6em;
    border-radius: 2px;;
    letter-spacing: 1px;
    font-weight: 700;
}
.reset:hover {
    background-color: var(--strongCyand);
}
.tipt {
    color: var(--white);
    font-size: 0.6em;
}
.person {
    color: var(--darkgrayishcyan);
    font-size: 0.8em;
    font-weight: 600;
}
.num1,
.num2 {
    color: var(--strongCyan);
    font-size: 1.5em;
    font-weight: 600;
}
@media(max-width: 700px) {
    .tips-container {
        flex-direction: column;
        border-radius: 3em;
        padding-bottom: 3em;
    }
.reset {
    margin: 2em 1em 1em 0em;
}
.buttons {
    grid-template-columns: repeat(2, 1fr);
    gap: 0em, 0em;
}
.two, .three, .five, .custom {
    position: relative;
    right: 0;
}
.selection div button {
max-width: 100%;
padding: 0.5em 0.2em;
font-size: 0.9em;
}

.output, .number-p {
    width: 100%;
    padding: 0.4em 0;
    margin: 0.3em 0 0 0;
}
.results {
    border-radius: 1.2em;
    margin-top: 2em;
    padding: 2em 1em 1em 1em;
}
.custom {
    width: 100%;
}
.custom:placeholder-shown {
   text-align: center;
   font-size: 0.8em;
}

}
@media(min-width: 450px) and (max-width: 700px) {
    .output, .number-p {
        width: 100%;
    }
}
@media(max-width: 321px) {
    .error-text {
        left: 0em;
    }
}
@media(min-width: 321px) and (max-width: 400px) {
    .error-text {
        left: 1.9em;
    }
}